@tailwind base;
@tailwind components;
@tailwind utilities;


.box {
  position: relative;
  display: block;
  
}

.glowing::before{
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #51562f, #604634d9, #213f2d, #223e22, #472347, #4d263d, #3f2955, #512e25de, #2c4d62);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: glower 5s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}